body {
	background-color: black;
	font-family: Consolas, "Andale Mono WT", "Andale Mono";
    color: #39ff14;
}

#shell {
	position: absolute;
	padding-left: 20px;
	width: 80%;
	height: 90%;
	left: 10%;
	top: 5%;
	border: 2px solid #39ff14;
	color: #39ff14;
	overflow-y: scroll;
}

#shellInput {
	color: white;
	background-color: black;
	font-family: Consolas, "Andale Mono WT", "Andale Mono";
	border: 0;
}

#shellInput:hover {
	cursor: default;
}

#shellInput:focus {
	outline-width: 0;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #39ff14;
}

/* Handle */
::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background: #228B22; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	pointer: cursor;
	background: #39ff14; 
}

a {
	color: #87cefa;
}